@{
    ViewData["Title"] = "Home Page";
}

@section scripts {
    <script type="text/javascript">

        var promise

        $(document).ready(function () {

            $(".cancelLinker").on("click", function () {
                if (promise) {
                    console.log("aborting the mission!")
                    promise.abort()
                }
            })

            promise = $.get("Home/GetAnimal", function (data) {
                $("#animalContainer").html(data.species)
            })


        })
    </script>
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div id="animalContainer">

</div>

